In [1]:
import numpy as np

**Q1.**

In [2]:
arr = np.arange(0, 10, 1)
print(arr)

[0 1 2 3 4 5 6 7 8 9]

**Q2.**

In [7]:
arr = np.ones((3,3)) > 0
print(arr)

arr = np.ones((3,3), dtype=bool)
print(arr)

arr = np.full((3,3), fill_value=True, dtype=bool)
print(arr)

[[ True  True  True]
 [ True  True  True]
 [ True  True  True]]
[[ True  True  True]
 [ True  True  True]
 [ True  True  True]]
[[ True  True  True]
 [ True  True  True]
 [ True  True  True]]

**Q3.**

In [8]:
arr = np.arange(0, 10)
print(arr[arr%2 == 1])

[1 3 5 7 9]

 **Q4.**

In [9]:
arr = np.arange(0, 10)
arr[arr%2 == 1] = -1
print(arr)

[ 0 -1  2 -1  4 -1  6 -1  8 -1]

**Q5.**

In [11]:
arr = np.arange(0, 10)
arr_2d = arr.reshape(2, -1)
print(arr_2d)

[[0 1 2 3 4]
 [5 6 7 8 9]]

**Q6.**

In [12]:
arr1 = np.arange(0, 10).reshape(2, -1)
arr2 = np.repeat(1, 10).reshape(2, -1)
c = np.concatenate([arr1, arr2], axis=0)
print(c)

[[0 1 2 3 4]
 [5 6 7 8 9]
 [1 1 1 1 1]
 [1 1 1 1 1]]

**Q7.**

In [15]:
arr1 = np.arange(10).reshape(2, -1)
arr2 = np.repeat(1, 10).reshape(2, -1)
c = np.concatenate((arr1, arr2), axis=1)
print(c)

[[0 1 2 3 4 1 1 1 1 1]
 [5 6 7 8 9 1 1 1 1 1]]

**Q8.**

In [16]:
arr = np.array([1,2,3])
print(np.repeat(arr, 3))
print(np.tile(arr, 3))

[1 1 1 2 2 2 3 3 3]
[1 2 3 1 2 3 1 2 3]

**Q9.**

In [17]:
a = np.array([2 ,6 ,1 ,9 ,10 ,3 ,27])
index = np.where((a >=5) &(a <=10))
print ("result", a[index])

result [ 6  9 10]

**Q10.**

In [18]:
def maxx(x, y):
  if x >= y:
    return x
  else:
    return y

a = np.array([5 ,7 ,9 ,8 ,6 ,4 ,5])
b = np.array([6 ,3 ,4 ,8 ,9 ,7 ,1])
pair_max = np.vectorize(maxx, otypes=[float])
print(pair_max(a, b))

[6. 7. 9. 8. 9. 7. 5.]

**Q11.**

In [19]:
a = np.array([5 ,7 ,9 ,8 ,6 ,4 ,5])
b = np.array([6 ,3 ,4 ,8 ,9 ,7 ,1])
print ("Result",np.where(a<b, b, a))

Result [6 7 9 8 9 7 5]